/* Rating page */
.all-ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.rating-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    padding: 10px;
    height: 150px;
    width: 800px;
    border-radius: 25px;
    margin: 35px 0;
}

.rating-title {
    color: white;
}

.button-row {
    margin: 10px;
    display: flex;
    width: 80%;
    display: flex;
}

.rating-button {
    width: 15px;
    height: 15px;
    border-radius: 25%;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 40px;
}

.rating-button:first-child {
    margin-left: 55px;
}

.rating-button.clicked {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
}

.rating-button:not(.clicked) {
    background-color: white;
}


/* comment section */

.comment {
    margin: 35px 0;
}

.comment, .comment-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 150px;
    width: 800px;
    border-radius: 25px;
}

.comment-text {
    border: 1px solid white !important;
    outline: none !important;
    resize: none;
}

.comment-text:focus {
    border: 1px solid white !important;
}
