/* Body and board styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(13, 17, 23, 1);
}

/* Case styling */
.case {
    width: 7px;
    height: 7px;
    border-radius: 25%;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px;
}

.case.clicked {
    background-color: red;
    border-color: red;
}

.case:not(.clicked) {
    background-color: white;
}

.ligne-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ligne {
    width: calc(52 * 11px);
    display: flex;
    flex-wrap: nowrap;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Burger Menu */
.burger-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease;
}

.burger-icon {
    height: 4px;
    width: 30px;
    background-color: #fff;
    border-radius: 4px;
}

/* When the menu is open, transform the burger into a cross */
.burger-menu.open .burger-icon:nth-child(1) {
    transform: rotate(45deg) translateY(5px) translateX(6px); /* Move and rotate */
}

.burger-menu.open .burger-icon:nth-child(2) {
    opacity: 0; /* Hide the middle line */
}

.burger-menu.open .burger-icon:nth-child(3) {
    transform: rotate(-45deg) translateY(-5px) translateX(6px); /* Move and rotate */
}


/* Sidebar Menu */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: rgba(36, 41, 47, 1);
    transition: left 0.3s ease;
    padding-top: 50px;
    z-index: 5;
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #00000a;
}

/* Home page */
.title {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

/* Rating page */
.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    padding: 10px;
    height: 150px;
    width: 800px;
    border-radius: 25px;
}

.rating-title {
    color: white;
}

.button-row {
    margin: 10px;
    display: flex;
    width: 80%;
    display: flex;
}

.rating-button {
    width: 15px;
    height: 15px;
    border-radius: 25%;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 40px;
}

.rating-button:first-child {
    margin-left: 55px;
}

.rating-button.clicked {
    background-color: red;
    border-color: red;
}

.rating-button:not(.clicked) {
    background-color: white;
}
